.font {
    font-family: Advent Pro;
}

#title {
    font-family: Advent Pro;
    font-size: 65px;
    font-weight: 550;
    text-align: center;
    padding: 50px;
}

.sub {
    font-size: 25px;
}

.parallax-1 {
    /* The image used */
    background-image: url("banner.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2 {
    /* The image used */
    background-image: url("images/rooms/bed.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.head {
    font-family: Actor;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    padding: 80px;
    width: 50%;
    margin:0 auto;
}
.para {
    font-size: 15px;
    padding: 30px;
}

.d1 {
    text-align: center;
}
.img {
    height: 550px;
}